<div class="shipment-order-container">

  <div class="form-container">
    <mat-horizontal-stepper linear #stepper [linear]="isLinear">
      <mat-step [stepControl]="shipmentOrderForm" [editable]="isEditable">

        <form [formGroup]="shipmentOrderForm" (ngSubmit)="review()" novalidate>

          <ng-template matStepLabel>Fill in the shipment order details</ng-template>

          <!-- Crate IDs -->
          <my-chip-autocomplete [placeholder]="placeholder" formControlName="crates"
            [clientSideFilter]="clientsideFilter" [options]="crateList" [maxItems]="maxCrate" [removable]="removable"
            [isChipAddFromInput]="isChipAddFromInput" [required]="required" [displayWith]="displayWith"
            [itemId]="itemid" [isOptionCheckable]="isOptionCheckable" [disabledSelected]="disabledSelected">
          </my-chip-autocomplete>

          <mat-divider></mat-divider>

          <!-- Origin -->
          <mat-form-field class="form-field" appearance="outline">
            <mat-label> Origin *
            </mat-label>
            <mat-select formControlName="origin">
              <mat-option *ngFor="let origin of origins" [value]="origin.value">
                {{origin.viewValue}}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="hasError('origin', 'required')">
              <span>This field is mandatory.</span>
            </mat-error>
          </mat-form-field>

          <!-- Destination -->
          <mat-form-field class="form-field" appearance="outline">
            <mat-label> Destination *
            </mat-label>
            <textarea matInput formControlName="destination" placeholder="Ex. 100 Main St"></textarea>
            <mat-error *ngIf="hasError('destination', 'required')">
              <span>This field is mandatory.</span>
            </mat-error>
          </mat-form-field>

          <mat-divider></mat-divider>

          <!-- Vendor -->
          <mat-form-field class="form-field" appearance="outline">
            <mat-label> Vendor *
            </mat-label>
            <mat-select formControlName="vendor">
              <mat-option *ngFor="let vendor of vendorList" [value]="vendor">
                {{vendor.name}}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="hasError('vendor', 'required')">
              <span>This field is mandatory.</span>
            </mat-error>
          </mat-form-field>

          <!-- Delivery Method -->
          <mat-form-field class="form-field" appearance="outline">
            <mat-label> Delivery Method *
            </mat-label>
            <mat-select formControlName="deliveryMethod">
              <mat-option *ngFor="let deliveryMethod of deliveryMethods" [value]="deliveryMethod">
                {{deliveryMethod}}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="hasError('deliveryMethod', 'required')">
              <span>This field is mandatory.</span>
            </mat-error>
          </mat-form-field>

          <button mat-raised-button color="primary" class="button" matStepperNext type="submit">NEXT</button>

        </form>
      </mat-step>
      <mat-step [stepControl]="shipmentOrderReviewForm">
        <form [formGroup]="shipmentOrderReviewForm">
          <ng-template matStepLabel>Review shipment order</ng-template>
          <div class="review-container">
            <div>
              <h4>Crates</h4>
              <div *ngFor="let crate of selectedCrateList">
                <p mat-chip>ID: {{crate?.id}}</p>
                <p>SKU:&#9;&#9;{{crate?.sku}}</p>
                <p>Label ID:&#9;&#9;{{crate?.labelId}}</p>
                <p>Total Weight:&#9;&#9;{{crate?.weight}}</p>
                <p>Value:&#9;&#9;{{crate?.value}}</p>
                <p>Quantity:&#9;&#9;{{crate?.quantity}}</p>
                <p>Pallet ID:&#9;&#9;{{crate?.palletId}}</p>
              </div>
            </div>
            <div>
              <h4>Origin</h4>
              <p>{{origin}}</p>
            </div>
            <div>
              <h4>Destination</h4>
              <p>{{destination}}</p>
            </div>
            <div>
              <h4>Vendor</h4>
              <p>{{vendor?.name}}</p>
            </div>
            <div>
              <h4>Delivery Method</h4>
              <p>{{deliveryMethod}}</p>
            </div>
            <div>
              <h4>Departure Date & Time</h4>
              <p>{{departureDate?.toString()}}</p>
            </div>
          </div>

          <div>
            <button mat-raised-button class="button" matStepperPrevious>BACK</button>
            <button mat-raised-button color="primary" class="button" (click)="submit()" matStepperNext>SUBMIT</button>
          </div>
        </form>
      </mat-step>
      <mat-step>
        <ng-template matStepLabel>Done</ng-template>
        <div class="submitted-container">
          <div>
            <h2>
              Shipment Order Has Been Successfully Submitted!
            </h2>
          </div>
          <div>
            <h4>Shipment Order ID</h4>
            <p>
              {{shipmentOrderRepId}}
            </p>
          </div>
        </div>
        <div>
          <button mat-raised-button color="primary" class="button" (click)="shipmentOrderForm.reset();stepper.reset()">Done</button>
        </div>
      </mat-step>
    </mat-horizontal-stepper>
  </div>

</div>