<mat-toolbar id="mainToolbar">
  <mat-icon (click)="onToolbarMenuToggle()" id="toolbarMenu">subject</mat-icon>
  <span class="toolbar-spacer"></span>
  <img src="../assets/wooden-crate.svg" alt="Simple WMS" />
  <p>{{title.toLowerCase()}}</p>
</mat-toolbar>

<mat-sidenav-container id="sidenavContainer">
  <mat-sidenav #sidenav id="sidenav" mode="side" [class.menu-open]="isMenuOpen" [class.menu-close]="!isMenuOpen" opened>
    <!-- <p>Auto-resizing sidenav</p>
      <p *ngIf="showFiller">Lorem, ipsum dolor sit amet consectetur.</p>
      <button (click)="showFiller = !showFiller" mat-raised-button>
        Toggle extra text
      </button> -->
    <mat-nav-list>
      <a mat-list-item *ngFor="let menu of menuList" routerLink={{menu.routerLink}} routerLinkActive
        #rla="routerLinkActive" [ngStyle]="{'color': rla.isActive ? 'rgb(46, 56, 205)' : 'white'}" class="menu-item">
        <mat-icon mat-list-icon matTooltip={{menu.name}} matTooltipPosition="below">{{menu.icon}}</mat-icon>
        <p matLine>{{menu.name.toUpperCase()}}</p>
      </a>
    </mat-nav-list>
  </mat-sidenav>

  <!-- <div class="main-sidenav-content">
      <button type="button" mat-button (click)="drawer.toggle()">
        Toggle sidenav
      </button>
    </div> -->
  <mat-sidenav-content [ngStyle]="{ 'margin-left.px': contentMargin }">
    <h1>{{subTitle}}</h1>
    <h4>{{description}}</h4>
    <router-outlet id="pageContent"></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>