<mat-toolbar id="mainToolbar">
  <mat-icon (click)="onToolbarMenuToggle()" id="toolbarMenu">subject</mat-icon>
  <span class="toolbar-spacer"></span>
  <img src="../assets/wooden-crate.svg" alt="Simple WMS" />
  <p>{{title.toLowerCase()}}</p>
</mat-toolbar>

<mat-sidenav-container id="sidenavContainer">
  <mat-sidenav #sidenav id="sidenav" mode="side" [class.menu-open] ="isMenuOpen" [class.menu-close]="!isMenuOpen" opened>
    <!-- <p>Auto-resizing sidenav</p>
      <p *ngIf="showFiller">Lorem, ipsum dolor sit amet consectetur.</p>
      <button (click)="showFiller = !showFiller" mat-raised-button>
        Toggle extra text
      </button> -->
    <div mat-list>
      <div mat-list-item *ngFor="let menu of menuList" routerLink={{menu.routerLink}} routerLinkActive="active">
        <button class="menu-item" mat-flat-button>
          <mat-icon matTooltip={{menu.name}} matTooltipPosition="below">{{menu.icon}}</mat-icon>
          <p>{{menu.name}}</p>
        </button>
      </div>
    </div>
  </mat-sidenav>

  <!-- <div class="main-sidenav-content">
      <button type="button" mat-button (click)="drawer.toggle()">
        Toggle sidenav
      </button>
    </div> -->
  <mat-sidenav-content [ngStyle]="{ 'margin-left.px': contentMargin }">
    <h1>{{subTitle}}</h1>
    <h4>{{description}}</h4>
    <router-outlet id="pageContent"></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>